In [3]:
l1 = [10,20,'piyush']
l1[2]

'piyush'

In [4]:
l1[1]

20

In [5]:
print(type(l1))
l1[0]

<class 'list'>

10

In [7]:
l1=[10,20,30,40,50]
print(l1*5)

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [8]:
l1[2]='piyush'

In [9]:
print(l1)

[10, 20, 'piyush', 40, 50]

In [10]:
l1.append('Nayak')
print(l1)

[10, 20, 'piyush', 40, 50, 'Nayak']

In [11]:
# for inserting elements in list
# .insert(index,value)
l1.insert(3,'Rishu')
print(l1)

[10, 20, 'piyush', 'Rishu', 40, 50, 'Nayak']

In [13]:
# adding tuple in a list 
l1.insert(2,(1,2,3,4))
l1

[10, 20, (1, 2, 3, 4), 'piyush', 'Rishu', 40, 50, 'Nayak']

In [14]:
l1.insert(2,'HELLO')
l1

[10, 20, 'HELLO', (1, 2, 3, 4), 'piyush', 'Rishu', 40, 50, 'Nayak']

In [15]:
# Another inbuilt function in python 'extend'
# as through append we can add only one value at the end
# but through extend function we can add as many as we want at the end
l1=[1,2,3]
l1.append(4)
print(l1)
l1.extend([5,6,7])
print(l1)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]

In [4]:
 # for deleting value we have 
#     Del
#     Remove
#     Pop

In [9]:
 p1=[1,2,3,4]
 s1=[1,2,3,4]
 print(p1)
 print(s1)
del(p1)
print(s1)
# print(p1)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [11]:
s1.clear()
print(s1)

[]

In [31]:
l1=[1,2,3,4,5]
del(l1[2])
print(l1)
del(l1[0:3])
print(l1)

[1, 2, 4, 5]
[5]

In [17]:
s1=[1,2,3,4,1]
s1.remove(1)
print(s1)

[2, 3, 4, 1]

In [1]:
sp=[1,2,3,4,1,2,3,4,5]
while 1 in sp:
    sp.remove(1)
while 3 in sp:
    sp.remove(3)
print(sp)

[2, 4, 2, 4, 5]

In [29]:
# pop can be assigned to some var but del can't
sp=[1,2,3,4,5]
a=sp.pop(2)
print(sp)
print(a)

[1, 2, 4, 5]
3

In [33]:
print(a)

3

In [34]:
# append
# extend
# insert
# Del
# clear
# remove
# pop

In [36]:
  dir(list
     )

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [39]:
p=[1,2,3,4,5]
p.reverse()
print(p)

[5, 4, 3, 2, 1]

In [40]:
p=[1,4,3,5,7,4]
p.sort()
print(p)

[1, 3, 4, 4, 5, 7]

In [43]:
p=[1,3,5,3]
s=p.copy()
s.reverse()
print(p)
print(s)

[1, 3, 5, 3]
[3, 5, 3, 1]

In [45]:
p.append(7)
print(p)
print(s)

[1, 3, 5, 3, 7, 7]
[3, 5, 3, 1]

In [47]:
s=[]
for p in range(5):
    s.append(p+1)
print(p)
print(s)

4
[1, 2, 3, 4, 5]

In [49]:
s=[x*2 for x in [1,2,3,4]]
print(s)

[2, 4, 6, 8]

In [54]:
list1=["1","2","3","piyush","aman","shivam","sid","sab","chand","1000"]
list2=list1.copy()
list2.sort()
print(list1)
print(list2)

['1', '2', '3', 'piyush', 'aman', 'shivam', 'sid', 'sab', 'chand', '1000']
['1', '1000', '2', '3', 'aman', 'chand', 'piyush', 'sab', 'shivam', 'sid']

In [55]:
list1=["1","2","3","piyush","aman","shivam","sid","sab","chand","1000"]
list2= sorted (list1)
print(list1)
print(list2)

['1', '2', '3', 'piyush', 'aman', 'shivam', 'sid', 'sab', 'chand', '1000']
['1', '1000', '2', '3', 'aman', 'chand', 'piyush', 'sab', 'shivam', 'sid']

In [57]:
list1=[1,2,3,4,5]
list2 = list1.copy()
list2.reverse()
print(list2)

[5, 4, 3, 2, 1]

In [4]:
# there is a diiference in sort and sorted 
# sort change the value of x 
# but sorted doesn't
x=[1,9,5,3,2,8,5]
print(sorted(x))
print(x)
b=x.copy()
b.sort()
print(b)
print(x)

[1, 2, 3, 5, 5, 8, 9]
[1, 9, 5, 3, 2, 8, 5]
[1, 2, 3, 5, 5, 8, 9]
[1, 9, 5, 3, 2, 8, 5]

In [3]:
#  for printing in descending order
x=[1,9,3,5,6,5]
print(sorted(x))
x.sort(reverse=True)
print(x)

[1, 3, 5, 5, 6, 9]
[9, 6, 5, 5, 3, 1]

In [6]:
list1=["1","2","3","piyush","aman","shivam","sid","sab","chand","1000"]
list2= sorted (list1)
print(list2)
print(list2[::-1])

['1', '1000', '2', '3', 'aman', 'chand', 'piyush', 'sab', 'shivam', 'sid']
['sid', 'shivam', 'sab', 'piyush', 'chand', 'aman', '3', '2', '1000', '1']

In [9]:
# just for revision
list2=[1,2,3,45,6]
# list1=[2,6,9]
# list2.extend(list1)
list2.extend(list1)
print(list2)
print(list1)

[1, 2, 3, 45, 6, 2, 6, 9]
[2, 6, 9]

In [32]:
# simple stat
# nums = [1, 2, 3, 4, 5, 6]
# total_num = sum(nums)

# print(total_num)

In [45]:

nums = [1, 2, 3, 4, 5, 6]
# num_max = max(nums)

print(max(nums))
# print(sum(nums))

6

In [42]:
# sum_num=sum(nums)
# print(sum_num)

In [46]:
# nums = [1, 2, 3, 4, 5, 6]

# # Assigning the maximum value to the variable num_max (commented out)
# # num_max = max(nums)

# # Printing the maximum value and the sum of the list directly
# print(max(nums))
# print(sum(nums))

In [50]:
# converting in uppercase and lowercase
name=['PiYush','LakSHya','SId','MOraL','AMRit','swyAM']
list1=[]
for nm in name:
    list1.append(nm.upper())
print(list1)
lis=[]
for nam in name:
    lis.append(nam.lower())
print(lis)

['PIYUSH', 'LAKSHYA', 'SID', 'MORAL', 'AMRIT', 'SWYAM']
['piyush', 'lakshya', 'sid', 'moral', 'amrit', 'swyam']

In [3]:
list1=[1,4,5,2,6]
print(min(list))
print(max(list))
print(sum(list))

1
6
18

In [11]:
# TUPLES

# tup1=(1,2,3)
# li = list(tup1)
# del(li[2])
# print(li)
# print(tup1)

In [25]:
tup1 = (1, 2, 3)
li = list (tup1)
prili
# li
# tup1
# print(li)
# print(tup1)

TypeError: 'list' object is not callable

In [26]:
tup1

(1, 2, 3)

In [29]:
tup1=(1,2,3,[4,5,6],7)
tup1[3].append(9)
tup1

(1, 2, 3, [4, 5, 6, 9], 7)

In [31]:
# we cant use sort function to sort rather we use sorted
l2=(1,5,3,9,2,4)
sorted(l2)

[1, 2, 3, 4, 5, 9]

In [35]:
# STRINGS

a='HELLO'
b="WORLD"
print('WELCOME TO',a,b)
print('WELCOME TO %s %s' %(a,b))
print('',a,b)

WELCOME TO HELLO WORLD
WELCOME TO HELLO WORLD
 HELLO WORLD

In [4]:
a= 'amazon'
b='prime'
c=149
print('Subscription of %s %s is Rs.%d/- per month' %(a,b,c))

Subscription of amazon prime is Rs.149/- per month

In [5]:
print(a.find('m'))

1

In [9]:
pip install gitpython
import git

SyntaxError: invalid syntax (181683763.py, line 1)

In [10]:
repo = git.Repo.init('https://github.com/PIYUSH-NAYAK/PYTHON.git')

NameError: name 'git' is not defined