In [ ]:
l1 = [10,20,'piyush']
l1[2]

In [ ]:
l1[1]

In [ ]:
print(type(l1))
l1[0]

In [ ]:
l1=[10,20,30,40,50]
print(l1*5)

In [ ]:
l1[2]='piyush'

In [ ]:
print(l1)

In [ ]:
l1.append('Nayak')
print(l1)

In [ ]:
# for inserting elements in list
# .insert(index,value)
l1.insert(3,'Rishu')
print(l1)

In [ ]:
# adding tuple in a list 
l1.insert(2,(1,2,3,4))
l1

In [ ]:
l1.insert(2,'HELLO')
l1

In [ ]:
# Another inbuilt function in python 'extend'
# as through append we can add only one value at the end
# but through extend function we can add as many as we want at the end
l1=[1,2,3]
l1.append(4)
print(l1)
l1.extend([5,6,7])
print(l1)

In [ ]:
 # for deleting value we have 
#     Del
#     Remove
#     Pop

In [ ]:
 p1=[1,2,3,4]
 s1=[1,2,3,4]
 print(p1)
 print(s1)
del(p1)
print(s1)
# print(p1)

In [ ]:
s1.clear()
print(s1)

In [ ]:
l1=[1,2,3,4,5]
del(l1[2])
print(l1)
del(l1[0:3])
print(l1)

In [ ]:
s1=[1,2,3,4,1]
s1.remove(1)
print(s1)

In [ ]:
sp=[1,2,3,4,1,2,3,4,5]
while 1 in sp:
    sp.remove(1)
while 3 in sp:
    sp.remove(3)
print(sp)

In [ ]:
# pop can be assigned to some var but del can't
sp=[1,2,3,4,5]
a=sp.pop(2)
print(sp)
print(a)

In [ ]:
print(a)

In [ ]:
# append
# extend
# insert
# Del
# clear
# remove
# pop

In [ ]:
  dir(list
     )

In [ ]:
p=[1,2,3,4,5]
p.reverse()
print(p)

In [ ]:
p=[1,4,3,5,7,4]
p.sort()
print(p)

In [ ]:
p=[1,3,5,3]
s=p.copy()
s.reverse()
print(p)
print(s)

In [ ]:
p.append(7)
print(p)
print(s)

In [ ]:
s=[]
for p in range(5):
    s.append(p+1)
print(p)
print(s)

In [ ]:
s=[x*2 for x in [1,2,3,4]]
print(s)

In [ ]:
list1=["1","2","3","piyush","aman","shivam","sid","sab","chand","1000"]
list2=list1.copy()
list2.sort()
print(list1)
print(list2)

In [ ]:
list1=["1","2","3","piyush","aman","shivam","sid","sab","chand","1000"]
list2= sorted (list1)
print(list1)
print(list2)

In [ ]:
list1=[1,2,3,4,5]
list2 = list1.copy()
list2.reverse()
print(list2)

In [ ]:
# there is a diiference in sort and sorted 
# sort change the value of x 
# but sorted doesn't
x=[1,9,5,3,2,8,5]
print(sorted(x))
print(x)
b=x.copy()
b.sort()
print(b)
print(x)

In [ ]:
#  for printing in descending order
x=[1,9,3,5,6,5]
print(sorted(x))
x.sort(reverse=True)
print(x)

In [ ]:
list1=["1","2","3","piyush","aman","shivam","sid","sab","chand","1000"]
list2= sorted (list1)
print(list2)
print(list2[::-1])

In [ ]:
# just for revision
list2=[1,2,3,45,6]
# list1=[2,6,9]
# list2.extend(list1)
list2.extend(list1)
print(list2)
print(list1)

In [ ]:
# simple stat
# nums = [1, 2, 3, 4, 5, 6]
# total_num = sum(nums)

# print(total_num)

In [ ]:

nums = [1, 2, 3, 4, 5, 6]
# num_max = max(nums)

print(max(nums))
# print(sum(nums))

In [ ]:
# sum_num=sum(nums)
# print(sum_num)

In [ ]:
# nums = [1, 2, 3, 4, 5, 6]

# # Assigning the maximum value to the variable num_max (commented out)
# # num_max = max(nums)

# # Printing the maximum value and the sum of the list directly
# print(max(nums))
# print(sum(nums))

In [ ]:
# converting in uppercase and lowercase
name=['PiYush','LakSHya','SId','MOraL','AMRit','swyAM']
list1=[]
for nm in name:
    list1.append(nm.upper())
print(list1)
lis=[]
for nam in name:
    lis.append(nam.lower())
print(lis)

In [ ]:
list1=[1,4,5,2,6]
print(min(list))
print(max(list))
print(sum(list))

In [ ]:
# TUPLES

# tup1=(1,2,3)
# li = list(tup1)
# del(li[2])
# print(li)
# print(tup1)

In [ ]:
# tup1 = (1, 2, 3)
# li = list (tup1)
# prili
# li
# tup1
# print(li)
# print(tup1)

In [ ]:
tup1

In [ ]:
tup1=(1,2,3,[4,5,6],7)
tup1[3].append(9)
tup1

In [ ]:
# we cant use sort function to sort rather we use sorted
l2=(1,5,3,9,2,4)
sorted(l2)

In [ ]:
# STRINGS

a='HELLO'
b="WORLD"
print('WELCOME TO',a,b)
print('WELCOME TO %s %s' %(a,b))
print('',a,b)

In [ ]:
a= 'amazon'
b='prime'
c=149
print('Subscription of %s %s is Rs.%d/- per month' %(a,b,c))

In [ ]:
print(a.find('m'))